html,body {
    height:100%;
    margin:0;
    padding:0;
}

.header{
	height:5%;
    margin:0;
    padding:0;
	background-color: grey;	
}

.main_block {
	height:95%;
    margin:0;
    padding:0;
	display: flex;
	background-color: white;
	flex-direction: column;
	align-items : center;
	overflow-y: auto;
}

/* ----- MAP BOX ----- */
.map_box {
	margin:40px;
    padding:0;
	background-color: #FF6347;
	min-width: 80%;
	min-height: 80%;
	display: flex;
}

.map_toolbox_container {
	margin-top : 40px;
	margin-bottom : 40px;
	margin-left: 40px;
	flex : 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.map_container {
	margin : 50px;
	flex : 4;
	border-color: white;
	border-radius: 2px; 
	border-style : solid;
}

.map_attribute_choice_container {
	width: 100%;
	height: 40%;
	border-color: white;
	border-radius: 2px; 
	border-style : solid;
}

.year_slider_container {
	width: 100%;
	height: 40%;
	border-color: white;
	border-radius: 2px; 
	border-style : solid;
}

#slider {
	background-color: green;
}
/* ----- GRAPH BOXES ----- */

.graph_box {
	margin:50px;
    padding:0;
	background-color: #9ACD32	;
	min-width: 60%;
	min-height: 40%;
	display: flex;
}

.graph_attribute_choice_container {
	margin-top : 40px;
	margin-bottom : 40px;
	margin-left: 40px;
	padding: 0;
	flex : 1;
	border-color: white;
	border-radius: 2px; 
	border-style : solid;
}

.graph_container {
	margin:40px;
    padding:0;
	flex : 4;
	border-color: white;
	border-radius: 2px; 
	border-style : solid;
}

