<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/stylev0.3.css">
    <script type="text/javascript" src = "/static/js/d3/d3.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="/static/js/d3/d3-tip.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <title>Projet Viz</title>
</head>

<body>
{#<header>
    <div class="header-nav">
        <div class="header-left">
            <a class="active" >Left</a>
        </div>

        <div class="header-center">
            <a>Inequalities in the world</a>

            <div class="header-right">
                <a>Right</a>
            </div>
        </div>
</header>#}
<div class="page_header">

    <div style="display: flex; flex-direction: column; align-items: center">
        <img src="/static/images/Scale-of-Justice(1).png">
    </div>
    <div class="page_presentation">
        <h1>
            Inequalities accross the World
        </h1>
        <h2>
            Is our world fair ? <br>
            Is the wealth dispatch equally ?
        </h2>
    </div>
    <a id="slider_button_bottom" class="slider_button" href="#dashboard">
        <svg class="arrows_nav">
            <polygon class="arrow-top" points="50,45 15,25 20,30 50,55 80,30 85,25"/>
            <polygon class="arrow-middle" points="50,45 15,25 20,30 50,55 80,30 85,25"/>
            <polygon class="arrow-bottom" points="50,45 15,25 20,30 50,55 80,30 85,25"/>
        </svg>
    </a>
</div>

<div class="dashboard" id="dashboard">

    <div class="main_block">
        <!-- FIRST CONTAINER (MAP) -->
        <div class="map_box">
            <!-- RIGHT SIDE -->
            <div class="map_container_all">
                <div class="title_page">
                    <h2>
                        Title Page
                    </h2>
                    <h3>
                        bla bla bla
                    </h3>
                </div>
                <div class="map_container"></div>
                <!--<div class="map_attribute_choice_container">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% for i in range(0,len_attributes) %}
                {% if (i==0) %}
                <label class="btn btn-secondary active" onclick="set_map_attribute('{{map_attributes[i]}}')">
                    <input type="radio" name="options" autocomplete="off" value="map_{{attribute}}"
                           id="map_{{map_attributes[i]}}"  checked> {{map_attributes[i]}}
                </label>
                {% else %}
                <label class="btn btn-secondary" onclick="set_map_attribute('{{map_attributes[i]}}')">
                    <input type="radio" name="options"  autocomplete="off" value="map_{{attribute}}"
                           id="map_{{map_attributes[i]}}" > {{map_attributes[i]}}
                </label>
                {% endif%}
                {% endfor %}
            </div>

        </div>-->
                <!--            <div class="legend_attribute">-->

                <!--            </div>-->
                <div class="map_country_toolbox_container">
                    <div class="selected_country_box">

                    </div>
                    <div class="map_settings_container">
                        <div class="map_attribute_choice_container">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% for i in range(0,len_attributes) %}
                                {% if (i==0) %}
                                <label class="btn btn-secondary active" onclick="set_map_attribute('{{map_attributes[i]}}')">
                                    <input type="radio" name="options" autocomplete="off" value="map_{{attribute}}"
                                           id="map_{{map_attributes[i]}}"  checked> {{map_attributes[i]}}
                                </label>
                                {% else %}
                                <label class="btn btn-secondary" onclick="set_map_attribute('{{map_attributes[i]}}')">
                                    <input type="radio" name="options"  autocomplete="off" value="map_{{attribute}}"
                                           id="map_{{map_attributes[i]}}" > {{map_attributes[i]}}
                                </label>
                                {% endif%}
                                {% endfor %}
                            </div>

                        </div>
                        <div class="map_country_toolbox">
                            <input type="text" list="datalist-countries" name="countries-search" id="countries-search">
                            <datalist id="datalist-countries" class="datalist-countries"></datalist>
                        </div>
                        <div class="map_buttons_container">
                            <button id="add-country" onclick="add_country()" style="display:none;">Add</button>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary " onclick="reset_countries()">
                                    <input type="checkbox" checked autocomplete="off"> Reset
                                </label>
                            </div>
                            <div class="change_view_container">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active" onclick="change_view('2D')">
                                        <input type="radio" name="options_view" autocomplete="off" value="view_2D" id="view_2D"  checked> 2D
                                    </label>
                                    <label class="btn btn-secondary" onclick="change_view('3D')">
                                        <input type="radio" name="options_view" autocomplete="off" value="view_3D" id="view_3D"> 3D
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--2ND and 3RD contaiter (all Graph)-->
        <div class="data_box">
            <div class="visualisation_box_all">
                <div id="graph_box_left" class="slider_page_border"></div>
                <div class="graph_box_all">

                    <div class="title_page">
                        <h2>
                            Title Page 2
                        </h2>
                        <h3>
                            bla bla bla 2
                        </h3>
                    </div>
                    <!-- 2ND CONTAINER (GRAPH 1) -->
                    <div class="graph_box">

                        <!-- RIGHT SIDE -->
                        <div class="graph_attribute_choice_container">
                            <div class="graph_attribute_form">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for i in range(0,len_graph_attributes) %}
                                    {% if (i==0) %}
                                    <label class="btn btn-secondary active" onclick="set_graph_1_attribute('{{graph_attributes[i]}}')">
                                        <input type="radio" name="options" autocomplete="off" value="graph_1_{{graph_attributes[i]}}"
                                               id="graph_1_{{graph_attributes[i]}}"  checked> {{graph_attributes[i]}}
                                    </label>
                                    {% else %}
                                    <label class="btn btn-secondary" onclick="set_graph_1_attribute('{{graph_attributes[i]}}')">
                                        <input type="radio" name="options"  autocomplete="off" value="graph_1_{{graph_attributes[i]}}"
                                               id="graph_1_{{graph_attributes[i]}}" > {{graph_attributes[i]}}
                                    </label>
                                    {% endif%}
                                    {% endfor %}
                                </div>
                                <!--                   <form method = 'post' id="graph_1_form">
                        {% for attribute in graph_attributes %}
                        <div>
                            <label class="radio_button_container">{{attribute}}
                                <input type="radio" name="destination" value="graph_1_{{attribute}}" id="graph_1_{{attribute}}" onclick="set_graph_1_attribute('{{attribute}}')">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        {% endfor %}
                    </form>-->
                            </div>
                        </div>

                        <!-- LEFY SIDE -->
                        <div class="graph_container">
                            <div id="graph_1"></div>
                        </div>
                    </div>

                    <!-- 3RD CONTAINER (GRAPH 2) -->
                    <div class="graph_box">

                        <!-- RIGHT SIDE -->
                        <div class="graph_attribute_choice_container">
                            <div class="graph_attribute_form">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% for i in range(0,len_graph_attributes) %}
                                    {% if (i==1) %}
                                    <label class="btn btn-secondary active" onclick="set_graph_2_attribute('{{graph_attributes[i]}}')">
                                        <input type="radio" name="options" autocomplete="off" value="graph_2_{{graph_attributes[i]}}"
                                               id="graph_2_{{graph_attributes[i]}}"  checked = 'True'> {{graph_attributes[i]}}
                                    </label>
                                    {% else %}
                                    <label class="btn btn-secondary" onclick="set_graph_2_attribute('{{graph_attributes[i]}}')">
                                        <input type="radio" name="options"  autocomplete="off" value="graph_2_{{graph_attributes[i]}}"
                                               id="graph_2_{{graph_attributes[i]}}" checked=> {{graph_attributes[i]}}
                                    </label>
                                    {% endif%}
                                    {% endfor %}
                                </div>
                                <!--<form method = 'post' id="graph_2_form">
                        {% for attribute in graph_attributes %}
                        <div>
                            <label class="radio_button_container">{{attribute}}
                                <input type="radio" name="destination" value="graph_2_{{attribute}}" id="graph_2_{{attribute}}" onclick="set_graph_2_attribute('{{attribute}}')">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        {% endfor %}
                    </form>-->
                            </div>
                        </div>

                        <!-- LEFT SIDE -->
                        <div class="graph_container">
                            <div id="graph_2"></div>
                        </div>
                    </div>
                    <a id="slider_button_right" class="slider_button" href="#bubble_1">
                        <svg class="arrows_nav">
                            <polygon class="arrow-top" points="50,45 15,25 20,30 50,55 80,30 85,25"/>
                            <polygon class="arrow-middle" points="50,45 15,25 20,30 50,55 80,30 85,25"/>
                            <polygon class="arrow-bottom" points="50,45 15,25 20,30 50,55 80,30 85,25"/>
                        </svg>
                    </a>
                </div>
                <div id="graph_box_right" class="slider_page_border"></div>
                <div id="bubble_1_left" class="slider_page_border"></div>
                <div id="bubble_1_container" class="bubble_container">

                    <div class="title_page">
                        <h2>
                            Title Page 2
                        </h2>
                        <h3>
                            bla bla bla 2
                        </h3>
                    </div>
                    <div id="bubble_1"></div>
                </div>
                <div id="bubble_1_right" class="slider_page_border">h</div>
            </div>
        </div>
    </div>

    <div class="map_year_slider_container">
        <!--<p id="value"></p>-->
        <div id="slider"></div>
    </div>

</div>
<!-- {#    <div class="bubble" id ="bubble">#}
 {#        <div class="title_page">#}
     {#            <h2>#}
         {#                Title Page 2#}
         {#            </h2>#}
     {#            <h3>#}
         {#                bla bla bla 2#}
         {#            </h3>#}
     {#        </div>#}
 {#        <div class="bubble_container">#}
     {#            <div class="bubble">#}
         {#                &lt;!&ndash;<p id="value"></p>&ndash;&gt;#}
         {#                <div id="bubble_1"></div>#}
         {#            </div>#}
     {#            <div class="bubble">#}
         {#                &lt;!&ndash;<p id="value"></p>&ndash;&gt;#}
         {#                <div id="bubble_2"></div>#}
         {#            </div>#}
     {#        </div>#}
 {#    </div>#}
</div>
-->



<script type="text/javascript" src="/static/js/main.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="/static/js/yearslider.js"></script>
<script type="text/javascript" src="/static/js/graph_1.js"></script>
<script type="text/javascript" src="/static/js/graph_2.js"></script>
<script type="text/javascript" src="/static/js/bubble.js"></script>
<script type="text/javascript" src="/static/js/bubble_2.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
