<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src = "/static/js/d3/d3.js"></script>
<!--    <script src="http://d3js.org/d3.v4.min.js"></script>-->
    <script src="http://d3js.org/queue.v1.min.js"></script>
<!--    <script src="http://d3js.org/topojson.v1.min.js"></script>-->
    <script src="/static/js/d3/d3-tip.js"></script>
    <title>Projet Viz</title>
</head>

<body>
    <header></header>

    <div class="map_box"></div>
    <div class="graph_box_1"></div>
    <div class="graph_box_2"></div>

</body>
</html>
