<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src = "/static/js/d3/d3.js"></script>
<!--    <script src="http://d3js.org/d3.v4.min.js"></script>-->
    <script src="http://d3js.org/queue.v1.min.js"></script>
<!--    <script src="http://d3js.org/topojson.v1.min.js"></script>-->
    <script src="/static/js/d3/d3-tip.js"></script>
    <title>Projet Viz</title>
</head>

<body>
<header>
    <script type="text/javascript" src="/static/js/worldmap.js"></script>
    <div class="header">
        <h1>
            {{ title }}
        </h1>
    </div>
</header>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {% for message in messages %}
    <h1>
        <p>{{ message }}</p>
    </h1>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

{% block body %}
{# Fin du bloc "body" #}
{% endblock %}
</body>
</html>
